beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
greenlet==2.0.1
idna==3.4
playwright==1.28.0
prompt-toolkit==1.0.14
pyee==9.0.4
pyfiglet==0.8.post1
Pygments==2.13.0
PyInquirer==1.0.3
python-dotenv==0.21.0
regex==2022.10.31
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
TikTokApi==5.2.2
typing_extensions==4.4.0
urllib3==1.26.13
wcwidth==0.2.5
